body{
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    background-image:url(../Img/law22.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
#nav{
    color:oldlace;
}
#welcome{
    color: oldlace;
    /* font-weight: bolder; */
    font-size: 50px;
    padding-top: 18%;
    text-align: center;
    /* top: 20%; */
}
.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: none;
    background-color: rgba(0,0,0,0.95);
    color: oldlace;
}
.content{
    text-align: center;
    top: 15rem;
    font-size: 3rem;
    position: relative;
}
.content a{
    text-decoration: none;
    color: oldlace;
}
.hov:hover{
    font-size: 4rem;
}
#over{
    color: oldlace;
    /* font-weight: bolder; */
    font-size: 50px;
    margin-top: 18%;
    text-align: center;
}
.overlay i{
    text-align: center;
}